<div class="row event-form">
  <ul class="col-md-2 dropbox list-group" id="invites">
    <h4>Invited Users</h4>
     <p>Drop here to invite</p>
  </ul>
  <div class="col-md-10">
    <div id="countdown"></div>
      <h1><%= event.escape('title') %></h1>
      <h3>Created By: <a href="#/users/<%= event.get('creator_id')%>"><%= users.get(event.get('creator_id')).get('user_name') %></a></h3>
      <div id="event-info"></div>
        <div class="row">
          <div class="col-md-4">
            <form id="add-location">
              <h4><label for="event_place">Add Location</label></h4>
              <input type='text' list="places" name="place_name" placeholder="Enter a place" id="event_place">
              <input type='hidden' name="event_place[event_id]" value="<%= event.get('id')%>">
              <datalist id="places"></datalist>
              </br></br>
              <input type="submit" id="add-location-submit" class="btn btn-primary" value="Add Location">
            </form>
            <h4>Suggested Locations</h4>
            <ul id="place-list" class='list-group'></ul>
          </div>
          <div class="col-md-8">
            <form id="add-when">
            <h4><label for="event_time">Add Date/Time Suggestion</label></h4>
              <input type='hidden' name="event_place[event_id]" value="<%= event.get('id')%>">
              <div class="row">
                <div class="col-md-4">
                  <input id="datetimepicker1" name="event[start_time]" type="text" data-name="start_date" placeholder="Start Date/Time">
                </div>
                <div class="col-md-4">
                  <input id="datetimepicker2" name="event[end_time]" type="text"
                    data-name="end_date" placeholder="End Date/Time">
                </div>
              </div>
              <br/>
              <input type="submit" id="add-when-submit" class="btn btn-primary" value="Add Date/Time Suggestion">
            </form>
            <h4>Suggested Times</h4>
            <ul id="when-list" class="list-group"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

