<div class="side-user-box" data-cid='<%= user.escape("id") %>'>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <a href='#/users/<%= user.escape("id") %>'> <img src='<%= Gravtastic(user.get('email'), {default: 'identicon', size: 100}) %>'/></a>
      <div class="caption\">
        <a class="list-group-item-heading" href='#/users/<%= user.escape("id") %>'><h3><%= user.escape("user_name") %></h3></a>
        <% if (user.get('id') == current_user.get('id')) { %>
          <button type="button" class="btn btn-success">This is me</button>
        <% } else if  (friends.get(user.get('id'))) { %>
          <button type="button" class="btn btn-danger" id="delete-friend">Remove Friend</button>
        <% } else { %>
          <button type="button" class="btn btn-primary" id="add-friend">Add to Friends</button>
        <% } %>
      </div>
    </div>
  </div>
</div>

