
<div class="side-pic-box" id="pic-thumb" data-cid='<%= pic.escape("id") %>'>
  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <a href="<%= pic.escape('bigurl')%>" data-lightbox="<%= place.escape('id') %>"
        data-id="<%= pic.escape("id") %>"><img src="<%= pic.escape('smallurl') %>"></a>
    </div>
  </div>
</div>
