<!DOCTYPE html>
<html>
<head>
  <title>PlanIt</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootswatch/3.0.3/cyborg/bootstrap.min.css", :media => "all" %>
  <%= stylesheet_link_tag "//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/form" %>
  <%= render "layouts/navbar" %>
  <%= yield %>

</body>
</html>
